
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b>User-Registration</b></a>
      </div>

      <div>
        <a  routerLink="/signin" class="nav navbar-nav navbar-right btn1"><span class="glyphicon glyphicon-log-in"></span> Sign-In</a>
        <a  routerLink="/signup" class="nav navbar-nav navbar-right btn2"><span class="glyphicon glyphicon-user"></span> Sign-Up</a>
     </div>

  </div>
</nav>
  


