<div class="container text-center">
   <div class="row">
     <div class="col-sm-3"></div>
     
        <div class="col-sm-6 text-center">
            <form [formGroup]="signupForm" (ngSubmit)="signup()">

                  <div class="group">          
                     <label for="user" class="label">User Name</label>
                     <input type="text" formControlName="username" class="form-control text-center" ng-model="user.fname"  autocomplete="off" ng-required="true">
                  </div> 

                  <div class="group">          
                     <label for="user" class="label">password</label>
                     <input type="text" formControlName="password" class="form-control text-center" ng-model="user.lname"  autocomplete="off" ng-required="true">
                  </div> 

                  <div class="group">          
                     <label for="user" class=" label">Email</label>
                     <input type="text" formControlName="email" class="form-control text-center" ng-model="user.email"  autocomplete="off" ng-required="true">
                  </div> 

                  <div class="group">          
                     <label for="user" class="label">Mobile</label>
                     <input type="text" formControlName="mobile" class="form-control text-center" ng-model="user.mob"  autocomplete="off" ng-required="true">
                  </div>  
                  <div>
                   <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary button">Register</button>
                  </div>
           </form>
         </div>
      <div class="col-sm-3"></div>

   </div>
</div>




